<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=4, minimum-scale=4, width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,500,300,200&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,300&subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <link href="/assets/1.0.0/images/favicon-circle.png" rel="icon" />
    <link href="/assets/1.0.0/css/fluidable.css" rel="stylesheet" />

    <link href="/assets/1.1.0/css/heritage/reset.css" rel="stylesheet" />
    <link href="/assets/1.1.0/css/heritage/components/cover.css" rel="stylesheet" />
    <link href="/assets/1.1.0/css/heritage/components/main.css" rel="stylesheet" />
    <link href="/assets/1.1.0/css/heritage/components/footer.css" rel="stylesheet" />

    <link href="./index.css" rel="stylesheet" />
    <link href="./index.print.css" rel="stylesheet" media="print" />

    <script src="/assets/1.1.0/js/slownie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_pl-pl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="./index.js"></script>

    <title>Mazur &bull; Brand</title>
  </head>

  <body ng-app="invoice">

    <div class="h-article-container">
      <section class="h-article col-group">
        <div class="col-8">
          <h2>Faktura VAT nr <span contenteditable>01/2017</span></h2>
          <div class="h-subtitle" contenteditable>Oryginał</div>

          <div class="col-group">
            <div class="col-4">Miejscowość</div>
            <div class="col-8" style="font-weight: bold;" contenteditable>Gliwice</div>
            <div class="col-4">Data wystawienia</div>
            <div class="col-8" style="font-weight: bold;" contenteditable i-sync i-parser="parseDate" ng-model="dates.invoiced"></div>
            <div class="col-4">Data sprzedaży</div>
            <div class="col-8" style="font-weight: bold;">{{ !dates.invoiced ? 'Zła data wystawienia (dd-mm-rrrr).' : dates.invoiced | date: formats.date }}</div>
          </div>
        </div>

        <div class="col-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 350 120" style="padding-top: 25px; transform: translate(16px, 0);">
            <text x="175" y="55" font-family="Montserrat" font-size="50" font-weight="700" text-anchor="middle" style="letter-spacing: 30px; fill: #222;">MAZUR</text>
            <text x="175" y="105" font-family="Montserrat" font-size="20" font-weight="300" text-anchor="middle" style="letter-spacing: 22px; fill: #222;">TU I TERAZ</text>
          </svg>
        </div>
      </section>

      <section class="h-article col-group">
        <div class="col-6">
          <h2>Sprzedawca:</h2>
          <div style="font-weight: bold;">Maciej Mazur Tu i Teraz</div>
          <div style="font-weight: bold;">ul. Perkoza 15/13</div>
          <div style="font-weight: bold;">44-100 Gliwice</div>
          <br />

          <div class="col-group">
            <div class="col-3">NIP</div>
            <div class="col-9" style="font-weight: bold;">637 215 53 28</div>
            <div class="col-3">Bank</div>
            <div class="col-9" style="font-weight: bold;">ING Bank Śląski</div>
            <div class="col-3">Konto</div>
            <div class="col-9" style="font-weight: bold;">47 1050 1618 1000 0023 2118 9355</div>
          </div>
        </div>

        <div class="col-6">
          <h2>Nabywca:</h2>
          <div style="font-weight: bold;" contenteditable>KP Labs Sp. z o.o.</div>
          <div style="font-weight: bold;" contenteditable>ul. Konarskiego 18C</div>
          <div style="font-weight: bold;" contenteditable>44-100 Gliwice</div>
          <br />

          <div class="col-group">
            <div class="col-3" contenteditable>NIP</div>
            <div class="col-9" style="font-weight: bold;" contenteditable>626 302 21 43</div>
            <div class="col-3" contenteditable></div>
            <div class="col-9" style="font-weight: bold;" contenteditable></div>
            <div class="col-3" contenteditable></div>
            <div class="col-9" style="font-weight: bold;" contenteditable></div>
          </div>
        </div>
      </section>

      <section class="h-article">
        <table class="invoice-table">
          <colgroup>
            <col style="width: 6%;">
            <col>
            <col style="width: 6%;">
            <col style="width: 6%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 6%;">
            <col style="width: 11%;">
            <col style="width: 15%;">
          </colgroup>
          <thead>
            <th style="width: 20px;">Lp.</th>
            <th>Nazwa usługi</th>
            <th>Ilość</th>
            <th>J.m.</th>
            <th style="text-align: right;">Cena Netto</th>
            <th style="text-align: right;">Wartość Netto</th>
            <th style="width: 20px; text-align: right;">%</th>
            <th style="text-align: right;">Vat</th>
            <th style="text-align: right;">Wartość Brutto</th>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td contenteditable>Usługa programistyczna</td>
              <td style="text-align: right;">1</td>
              <td>usł.</td>
              <td style="text-align: right;">
                <span i-sync i-parser="parsePrice" i-renderer="renderPrice" contenteditable ng-model="prices.netto">{{ prices.netto | number:2 }}</span>
                <span>zł</span>
              </td>
              <td style="text-align: right;">{{ prices.netto | number:2 }} zł</td>
              <td style="text-align: right;">{{ prices.vat * 100 }}</td>
              <td style="text-align: right;">{{ getVat(prices.netto) | number:2 }} zł</td>
              <td style="text-align: right;">{{ getVat(prices.netto) + prices.netto | number:2 }} zł</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5">razem:</th>
              <td class="included">{{ prices.netto | number:2 }} zł</td>
              <td class="included" colspan="2">{{ prices.netto * prices.vat | number:2 }} zł</td>
              <td class="included">{{ prices.netto + getVat(prices.netto) | number:2 }} zł</td>
            </tr>
            <tr>
              <th colspan="5">stawki VAT:</th>
              <td class="included">{{ prices.netto | number:2 }} zł</td>
              <td class="included">{{ prices.vat * 100 }}</td>
              <td class="included">{{ getVat(prices.netto) | number:2 }} zł</td>
              <td class="included">{{ getVat(prices.netto) + prices.netto | number:2 }} zł</td>
            </tr>
          </tfoot>
        </table>
      </section>

      <section class="h-article col-group" style="margin-bottom: 80px;">
        <div class="col-12">
          <h2>Razem: <strong>{{ prices.netto + getVat(prices.netto) | number:2 }} zł</strong></h2>
          <div class="invoice-summary">
            <span>Słownie:</span>
            <span style="margin-left: 10px;">{{ prices.netto + getVat(prices.netto) | slownie }}.</span>
          </div>
        </div>

        <div class="col-12" style="padding-top: 20px;">
          <strong>Do zapłaty przelewem do dnia {{ getDueDate(dates.invoiced) | date: formats.date }}, czyli <span i-sync i-parser="parsePrice" contenteditable ng-model="dates.delay">{{ dates.delay }}</span> dni od daty wystawienia.</strong>
        </div>

        <div class="col-12">
          <small>Faktura obejmuje {{ hours.normal + hours.afterhours + hours.weekends }} godzin pracy.</small>
        </div>

        <div class="col-5">
          <div style="height: 200px; border-bottom: 1px solid black;"></div>
          <small>Czytelny podpis osoby upoważnionej do odbioru faktury VAT</small>
        </div>

        <div class="col-5 col-offset-2">
          <div style="height: 200px; border-bottom: 1px solid black;"></div>
          <small>Czytelny podpis osoby upoważnionej do wystawienia faktury VAT</small>
        </div>
      </section>
    </div>

  </body>

</html>
