@page {
  size: A4 portrait;
}



.h-article {
  font-size: 8pt;
  line-height: 16pt;
}

.h-article small {
  font-size: 6pt;
}

.h-article h2 {
  margin-top: 0;
  margin-bottom: 12pt;
  font-size: 14pt;
}

.h-article .h-subtitle {
  transform: translate(0, -7pt);
  margin-bottom: 7pt;
  font-size: 6pt;
}

.h-article svg {
  top: 0;
  right: 0;
  padding-top: 0 !important;
  min-width: 130pt;
  margin-left: -5pt;
  margin-top: -5pt;
}