
.invoice-table {
  margin-top: 30px;
  padding: 18px;
  width: 100%;
  border-spacing: 0;
  font-size: 9pt;
  line-height: 24px;
  font-family: 'Courier New';
}

.invoice-table th, td {
  /*font-weight: 400;*/
  padding: 8px 10px;
  text-align: left;
}

.invoice-table thead th {
  border-bottom: 1px solid black;
}

.invoice-table th {
  font-weight: normal;
}

.invoice-table td {
  font-weight: bold;
}

.invoice-table tbody {
  background-color: #eee;
}

.invoice-table thead {
  background-color: antiquewhite;
}

.invoice-table tfoot * {
  text-align: right;
}

.invoice-table tfoot .included {
  background-color: #eee;
}


.invoice-summary {
  text-indent: 64px;
  margin-top: -35px;
}


@media print {
  .invoice-table {
    margin-top: -5pt;
    font-size: 6pt;
  }
  
  .invoice-table th, td {
    padding: 3pt 5pt;
    line-height: 10pt; 
  }


  .invoice-summary {
    text-indent: 36.5pt;
    margin-top: -12pt;
  }
}