
.covers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.covers.six .cover {
  width: 33.35vw;
}

.covers.six .cover:nth-child(3n+3) {
  width: 33.30vw;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  height: 50vh;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  overflow: hidden;
}

.covers.six .cover:nth-child(odd) {
  filter: sepia(1);
}

.covers.six .cover:nth-child(even) {
  filter: grayscale(1);
}

.covers.four .cover:nth-child(4n + 4),
.covers.four .cover:nth-child(4n + 1) {
  filter: sepia(1);
}

.covers.four .cover:nth-child(4n + 3),
.covers.four .cover:nth-child(4n + 2) {
  filter: grayscale(1);
}

a.cover:hover {
  cursor: pointer;
  filter: none;
}

a.cover:hover .image {
  transform: scale(1.05);
}

.cover .text {
  display: block;
  padding: 30px 10px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.25s;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cover .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  -webkit-transition : all 0.5s linear;
}

@media (min-width: 1199px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .covers.six .cover {
    width: 50vw !important;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  .cover:nth-child(4n + 4),
  .cover:nth-child(4n + 1) {
    filter: sepia(1);
  }

  .cover:nth-child(4n + 3),
  .cover:nth-child(4n + 2) {
    filter: grayscale(1);
  }
}

@media (max-width: 800px) {
  .covers.six .cover {
    width: 100vw !important;
    height: 60vw !important;
  }
}