.slide.header {
  background-image: url('/assets/1.0.0/images/covers/hel-balcony.jpg');
  position: relative;
}

.slide.header > * {
  z-index: 1;
}

.slide.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.20);
  z-index: 0;
}
