.h-cover {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-grow: 1;
}

.h-cover .h-header {
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 100px;
  text-align: center;
}

.h-cover .h-header .h-title {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Montserrat';
  letter-spacing: 12px;
  color: white;
  line-height: 40px;

  margin-left: 5px;
}

.h-cover .h-header .h-subtitle {
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 11.2px;
  padding-top: 20px;
  line-height: 32px;

  margin-left: 5px;
}

@media (max-width: 960px) {
  .h-cover .h-header {
    margin: auto 0 0 0;
    width: 100%;
    padding: 50px 36px;
  }

  .h-cover .h-header .h-title {
    font-size: 29px;
  }

  .h-cover .h-header .h-subtitle {
    font-size: 14px;
  }
}