@import '@fontsource/spectral/300.css';
@import '@fontsource/spectral/400.css';
@import '@fontsource/spectral/500.css';
@import '@fontsource/spectral/600.css';
@import '@fontsource/spectral/700.css';
@import '@fontsource/spectral/800.css';

@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-spectral {
  font-family: 'Spectral', serif;
}
